<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">
    <!-- Prevent logging to catalina.out-->
    <!--appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yy-MM-dd-HH:mm:ss.SSS}|%1.1level|%logger{20}|%msg %ex%n</pattern>
        </encoder>
    </appender-->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/sso/logs/sso-flow.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/sso/logs/archive/sso-flow.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <!-- keep 30 days worth of history -->
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yy-MM-dd-HH:mm:ss.SSS}|%8relative|%1.1level|%logger{20}|%msg %ex%n</pattern>
        </encoder>
    </appender>

    <appender name="INTEGRATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/sso/logs/integration.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/sso/logs/archive/integration.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <!-- keep 30 days worth of history -->
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yy-MM-dd-HH:mm:ss.SSS} %level %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>INTEGRATION</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>NEUTRAL</onMatch>
        </filter>
    </appender>

    <root level="error">
        <appender-ref ref="FILE"/>
        <!--appender-ref ref="STDOUT"/-->
    </root>
    <root level="info">
        <appender-ref ref="INTEGRATION"/>
    </root>
    <logger name="com.serenity.sso" level="debug"/>
    <logger name="org.hibernate" level="warn"/>
    <!--<logger name="org.springframework.security" level="debug"/>-->
</configuration>
